{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}


<div class="container">
<p>Welcome to the <span class="title">Final Project</span> page!</p>

<br><br>
<p>Here, you can experience Generative AI in action, powered by <a href="https://gemini.google.com">Google Gemini.</a></p>

<p>You can try asking any questions in any format in any language on the <a href="/ama">Ask Me Anything</a> page.

<p>You can also play some <a href="/trivia">Trivia</a> games with some fun scoring and <a href="/stats">Leaderboard</a>.</p>

<br><br><p>Last but not least, have fun!</p>
</div>


{% endblock %}

